<%- include("partials/sidebar.ejs"); %>
<link href="/styles/adminDeleteAccounts.css" rel="stylesheet">

<div class="formFlex">
  <div class="formContainer">
    <div class="title">Employee Account List</div>
    <table id="accountsTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div id="deleteModal" class="modal hidden">
  <div class="modal-content">
    <h2>Are you sure?</h2>
    <p>You are about to delete this account. This action cannot be undone.</p>
    <div class="modal-buttons">
      <button id="cancelBtn">Cancel</button>
      <button id="confirmDeleteBtn">Delete</button>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div id="messageModalSuccess" class="modal hidden">
  <div class="modal-content">
    <div class="circle">
      <svg class="tick" width="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 12L10 18L20 6" stroke="white" stroke-width="4" stroke-linecap="square" stroke-linejoin="miter"/>
      </svg>
    </div>
    <p id="messageBody"></p>
    <div class="btnDiv">
      <button id="closeMessageBtn" class="btn">Close</button>
    </div>
  </div>
</div>

<!-- Fail Modal -->
<div id="messageModalFail" class="modal hidden">
  <div class="modal-content">
    <div class="circleF">
      <svg class="cross" width="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6L18 18M6 18L18 6" stroke="white" stroke-width="4" stroke-linecap="square" stroke-linejoin="miter"/>
      </svg>
    </div>
    <p id="messageBodyFail"></p>
    <div class="btnDiv">
      <button id="closeMessageBtnFail" class="btn">Close</button>
    </div>
  </div>
</div>
<script src="/scripts/adminDeleteAccounts.js"></script>