<%- include("partials/header(login).ejs"); %>
<link href="styles/login.css" rel="stylesheet">

    <body>
        <form method="POST" action="/loginAdmin" id="login">
            <div class="loginContainer">
                <div class="loginForm">
                    <div class="flexContainer">
                        <div class="loginLogo">
                            <div>
                                <img src="/images/logo.png" height="100" id="logoLogin">
                            </div>
                        </div>
                        <div class="loginHeader">
                            <p id="header">Admin Login</p>
                        </div>
                        <div class="formInput">
                            <div class="emailInput">
                                <label for="email">Username</label>
                                <p id="message"><%= locals.messageEmail %></p><br>
                                <input type="text" class="email" name="username" placeholder="Enter username" required><br><br>
                            </div>
                            <div class="passwordInput">
                                <label for="password">Password</label>
                                <p id="message"><%= locals.messagePassword %></p><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Enter password" pattern="(?=.*\d)(?=.*[A-Z]).{8,}" required><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="togglePassword">
                        <div>
                            <label class="switch">
                            <input type="checkbox" onclick="togglePassword()">
                            <span class="slider round"></span>
                        </label>
                        </div>
                        <div>
                            <p id="showPass">
                                Show password
                            </p>
                        </div>
                    </div>
                    <div class="submitBtn togglePassword upperBtn">
                        <input type="submit" class="submit" value="Log In">
                    </div>
                </div>
            </div>
        </form>
        <script src="/scripts/login.js"></script>
    </body>

<%- include("partials/footer.ejs"); %>