<%- include("partials/header(login).ejs"); %>
<link href="/styles/blogsMain.css" rel="stylesheet">

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary featured"> <div class="col-lg-6 px-0"> 
        <h1 class="display-4 fst-italic">The Urgent Need for Smarter E-Waste Management in the Digital Age</h1>
        <p class="lead my-3">As technology advances rapidly, the volume of electronic waste (e-waste) generated is growing at an alarming rate. Proper e-waste management is no longer a choice but a necessity. This blog explores the importance of e-waste management, its challenges, and how individuals and organizations can take action.</p> 
        <p class="lead mb-0"><a href="/blog1" class="text-body-emphasis fw-bold white">Continue reading...</a></p> </div> </div>
    <div class="bootstrapContainer">
        <div class="row mb-2"> <div class="col-md-6"> <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> <div class="col p-4 d-flex flex-column position-static"> 
            <strong class="d-inline-block mb-2 text-success-emphasis">E-waste Management</strong>
            <h3 class="mb-0">What Happens to Your Old Smartphone? A Journey Through E-Waste Recycling</h3> 
            <div class="mb-1 text-body-secondary">Jan 13, 2025</div> 
            <p class="card-text mb-auto">Ever wondered what happens after you discard your old smartphone? This blog dives into the life cycle of a recycled smartphone, highlighting the steps involved in responsible e-waste management and the valuable materials recovered in the process.
            </p> 
            <a href="/blog2" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> </div> <div class="col-auto d-none d-lg-block"> <img src="/images/thumbnail2.png" height="400" width="300"> </rect></svg> </div> </div> </div> <div class="col-md-6"> <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> <div class="col p-4 d-flex flex-column position-static"> 
            <strong class="d-inline-block mb-2 text-success-emphasis">E-waste Management</strong> 
            <h3 class="mb-0">Breaking Down the Laptop Lifecycle: How Old Laptops Are Recycled Responsibly</h3> 
            <div class="mb-1 text-body-secondary">April 25, 2025</div> 
            <p class="mb-auto">Old laptops often sit forgotten in drawers or are tossed in the trash. But when handled properly, these devices can be a goldmine of recyclable materials. This blog explores how laptops are processed in the e-waste stream and why responsible disposal matters.</p> <a href="/blog3" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> </div> <div class="col-auto d-none d-lg-block"> <img src="/images/thumbnail3.png" height="400" width="300"><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-55595c, #43484b);"></rect></svg> </div> </div> </div> </div>
        </div>
    </div>

<%- include("partials/footer.ejs"); %>