<%- include("partials/sidebarDriver.ejs"); %>
<link href="/styles/driverUpcomingRefurbish.css" rel="stylesheet">

<div class="formFlex">
    <div class="formContainer" id="list">

    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
      <h2 class="modal-header">Items</h2>
      <table id="item-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody id="item-list"></tbody>
      </table>
      <button id="close-modal" class="close-btn">Close</button>
    </div>
</div>
<script src="scripts/driverUpcomingRefurbish.js"></script>