<%- include("partials/header(login).ejs"); %>
<link href="styles/register.css" rel="stylesheet">

<body>
    <form id="registerForm" method="POST" action="/registerAccount">
        <div class="loginContainer">
            <div class="loginForm">
                <div class="flexContainer">
                    <div class="loginLogo">
                        <div>
                            <img src="/images/logo.png" height="100" id="logoLogin">
                        </div>
                    </div>
                    <div class="loginHeader">
                        <p id="header">Register</p>
                    </div>
                    <div class="formInput">
                        <div class="emailInput">
                            <label for="email">Email</label>
                            <p id="message"><%= locals.messageEmail %></p><br>
                            <input type="email" class="email" name="email" placeholder="Enter email" required><br><br>
                        </div>
                        <div class="passwordInput">
                            <label for="password">Password</label>
                            <p id="message"><%= locals.messagePassword %></p><br>
                            <input type="password" class="password" id="password" name="password" placeholder="Enter password" pattern="(?=.*\d)(?=.*[A-Z]).{8,}" required><br><br>
                        </div>
                        <div class="passwordInput">
                            <label for="password">Retype password</label><br>
                            <input type="password" class="retypePassword password" id="retypePassword" name="retypePassword" placeholder="Retype password" pattern="(?=.*\d)(?=.*[A-Z]).{8,}" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="togglePassword">
                    <div>
                        <label class="switch">
                        <input type="checkbox" onclick="togglePassword()">
                        <span class="slider round"></span>
                    </label>
                    </div>
                    <div>
                        <p id="showPass">
                            Show password
                        </p>
                    </div>
                </div>
                <div class="submitBtn togglePassword upperBtn">
                    <input type="submit" class="submit" value="Register">
                </div>
                <hr \>
                <div class="registerDiv">
                    <p class="register">Already have an account?<a href="/login"> Log in here.</a></p>
                </div>
            </div>
        </div>
    </form>
    <script src="/scripts/register.js"></script>
</body>

<%- include("partials/footer.ejs"); %>