<%- include("partials/header.ejs"); %>
<link href="styles/viewPastRequests.css" rel="stylesheet">

<body>
    <div class="collectionRequestsContainer container">
        <div class="row my-4">
          <div class="bar col-lg-3">
            <div class="barFlex">
                <a href="/viewCollectionRequests" class="barItem itemText">Upcoming Requests</a>
                <a href="/viewPendingRequests" class="barItem itemText">Pending Requests</a>
                <a href="/viewRescheduleRequests" class="barItem itemText">Pending Reschedule Requests</a>
                <a href="/viewPastRequests" class="barItem itemText current">Past Requests</a>
            </div>
          </div>
          <div class="list col-lg-9">
            <div id="list">
              <div class="listItem">
                <div class="collectionDesc" id="id">ID: 1</div>
                <div class="collectionDesc span2">Name: </div>
                <div class="collectionDesc span2">Date: </div>
                <div class="collectionDesc span2">Phone no.:</div>
                <div class="collectionDesc span2">Address: </div>
                <button class="viewItemBtn">View Items</button>
              </div>
            </div>
            <div class="rows my-4 slider" id="pagination">
              <button class="sliderBtns" id="back">Back</button>
              <button class="sliderBtns" id="next">Next</button>
            </div>
          </div>
        </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
          <h2 class="modal-header">Items</h2>
          <table id="item-table">
              <thead>
                  <tr>
                      <th>Item</th>
                      <th>Quantity</th>
                  </tr>
              </thead>
              <tbody id="item-list"></tbody>
          </table>
          <button id="close-modal" class="close-btn">Close</button>
        </div>
    </div>
    <div id="reschedule-modal" class="modal">
      <div class="modal-content">
        <h2 class="modal-header">Review</h2>
        <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
        <div class="modal-footer">
          <button id="submit-rating" class="close-btn">Submit</button>
          <button id="cancel-reschedule" class="close-btn">Cancel</button>
        </div>
      </div>
    </div>
        <!-- Success Modal -->
        <div id="messageModalSuccess" class="modals hidden">
          <div class="modal-content">
            <div class="circle">
              <svg class="tick" width="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 12L10 18L20 6" stroke="white" stroke-width="4" stroke-linecap="square" stroke-linejoin="miter"/>
              </svg>
            </div>
            <p id="messageBody"></p>
            <div class="btnDiv">
              <button id="closeMessageBtn" class="btn">Close</button>
            </div>
          </div>
        </div>
    <script src="scripts/viewPastRequests.js"></script>
</body>

<%- include("partials/footer.ejs"); %>