<%- include("partials/header.ejs"); %>
<link href="styles/pendingRequests.css" rel="stylesheet">

<body>
    <div class="collectionRequestsContainer container">
        <div class="row my-4">
          <div class="bar col-lg-3">
            <div class="barFlex">
                <a class="barItem itemText current">Upcoming Requests</a>
                <a href="/viewPendingRequests" class="barItem itemText">Pending Requests</a>
                <a href="/" class="barItem itemText">Pending Reschedule Requests</a>
                <a href="/" class="barItem itemText">Past Requests</a>
            </div>
          </div>
          <div class="list col-lg-9">
            <div class="listItem">
              <div class="collectionDesc" id="id">ID: 1</div>
              <div class="collectionDesc span2">Name: </div>
              <div class="collectionDesc span2">Date: </div>
              <div class="collectionDesc span2">Phone no.:</div>
              <div class="collectionDesc span2">Address: </div>
              <button class="viewItemBtn">View Items</button>
            </div>
            <div class="listItem">ID: 1</div>
            <div class="listItem">ID: 1</div>
            <div class="listItem">ID: 1</div>
            <div class="listItem">ID: 1</div>
            <div class="row my-4 slider">
              <div class="next">Next</div>
            </div>
          </div>
        </div>
    </div>
</body>

<%- include("partials/footer.ejs"); %>