.hero {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('../images/E-waste.png'), url('../images/E-waste2.png');
    background-color: rgba(255,255,255,0.75);
    background-blend-mode: lighten;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroTitle {
    color: #626F47 !important;
    font-size: 4rem;
    text-shadow: 2px 2px 4px  rgba(164, 180, 101, 0.75);
}

.heroDesc {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
}

.heroButton {
    background-color: #626F47; 
    border: none;
    color: #FEFAE0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    width: 50%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.heroButton:hover {
    background-color: #FFCF50;
}

#home {
    color:rgb(33,37,31) !important;
}

body {
    background-image: linear-gradient(to right, #FEFAE0, #A4B465);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.feature-icon {
    background-color: #ffe08b !important;
    border-radius: 50px;
}

.features {
    padding: 10px;
}

.mapHeader, .featureHeader, .feature{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.0rem;
}

.paragraphF {
    font-size: 1.25rem;
    font-weight: 300;
}

.mapHeader, .featureHeader {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

#map {
    height: 600px;
    width: 100%;
    margin: 20px 0px;
}

.containerCarousel {
    margin-bottom: 50px;
}

.featurette {
    margin: 50px 0px;
}

.testimonial {
    border-radius: 500px;
    border: 2px solid black;
}

.testimonialDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.picture {
    width: 324px;
}

.fRight {
    float: right;
}


@media only screen and (max-width: 550px) {
    .heroTitle {
        color: #626F47 !important;
        font-size: 2rem;
        text-shadow: 2px 2px 4px  rgba(164, 180, 101, 0.75);
    }
}

@media only screen and (max-width: 575px) {
    .heroButton {
        width: 100%;
    }
}

