body {
    background-image: linear-gradient(to right, #FEFAE0, #A4B465);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.outer {
    min-height: 85vh;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 20vw;
    min-width: 300px;
    margin: auto;
    border-radius: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0px 40px;
    box-shadow: 5px 10px #888888;
    background-color: #FEFAE0;
}

.formContainer {
    width: 100%;
}

.title1, .title2 {
    font-size: 2.5rem;
    font-weight: Bold;
    font-family: "Inter", sans-serif;
    text-align: left;
}

.title2 {
    font-weight: 400;
    font-size: 1.75rem;
}

label {
    font-size: 1rem;
    font-weight: 250;
    font-family: "Inter", sans-serif;
}

.right {
    float: right;
}

select {
    display: inline-block;
    margin: 10px 0px;
    width: 75%;
    height: 40px;
    border-radius: 10px;
}

.qty {
    display: inline-block;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.addItem, .submit, .next, .back {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #626F47;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.next, .back {
    margin: 10px 0px 20px 0px;
}

.addItem:hover, .submit:hover {
    background-color: #A4B465;
}

.addItem {
    margin: 20px 0px 30px 0px;
}

.submit {
margin-bottom: 30px;
}

.extra {
    width: 65%;
}

.delete {
    width: 11%;
    margin: 10px 0px;
    padding: 0;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #ff5a5a;
}

#detailsForm, #paymentForm, #itemForm, #dateForm {
    padding-top: 20px;
}

input, select{
    padding-left: 10px;
    box-sizing: border-box;
}

#date {
    margin-bottom: 10px;
    width: 100%
}

#state {
    width: 100%;
}

.nameDiv, .areaDiv {
    display: flex;
    justify-content: space-between;
}

.textInput {
    width: 90%;
    max-width: 120%;
    height: 50px;
    border-radius: 15px;
}

.address {
    width: 100%;
}

.paymentLabel, .textInput {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}

input[type="radio"] {
    display: none;
}

.paymentLabel {
    padding: 10px 20px;
    border: 2px solid grey;
    background-color: #A4B465;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + .paymentLabel {
    background-color: #626F47;
    color: white;
}